body {
    background-color: black;
    border-color: rgb(47, 51, 54);
    color: white;
    padding-left: 16px;
    display: inline-block;
}

.wd-input-txt {
    background-color: darkgray;
    border-radius:10px;
    height: 25px;
    border: none;
    width: 90%;
    float: left;
}

.wd-horizontal-list {
    list-style: none;
    display: table;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}

.wd-li-padding {
    padding: 16px;
}

.wd-post-txt {
    font-size: 13px;
    padding: 5px;
}

.wd-horizontal-list li {
    /*display: inline-block;*/
    flex: 1;
    display: table-cell;
}

.wd-li-selected {
    color:rgb(29, 161, 242);
    border-bottom: 3px solid rgb(29, 161, 242);
}

.wd-float-right {
    position: relative;
    float: right;
    right: 12px;
}

.wd-topic-np-txt {
    color: rgb(110, 118, 125);
}

.wd-grid-col-third-page {
    width: 33%;
    float: left;
}

.wd-grid-col-two-thirds-page {
    width: 67%;
    float: left;
}

.wd-bold {
    font-weight: bold;
}

hr {
    border-color: rgb(110, 118, 125);
}

.wd-padding {
    padding: 1px;
}

.wd-float-right-img {
    position: relative;
    float: right;
    right: 16px;
}

.wd-float-left {
    position: relative;
    float: left;
}

.wd-float-done {
    clear: both;
}
