body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wd-bottom-left-profile-edit {
  position: absolute;
  bottom: 600px;
  left: 16px;
  font-size: 30px;
}

.wd-bottom-left-profile {
  position: absolute;
  bottom: 220px;
  left: 16px;
  font-size: 30px;
}
